
/********************
 * TOOLTIP CSS
 */

.nvtooltip {
    position: absolute;
    background-color: rgba(255,255,255,1);
    padding: 10px;
    border: 1px solid #ddd;

    font-family: Arial;
    font-size: 13px;

    transition: opacity 500ms linear;
    -moz-transition: opacity 500ms linear;
    -webkit-transition: opacity 500ms linear;

    transition-delay: 500ms
    -moz-transition-delay: 500ms;
    -webkit-transition-delay: 500ms;

    -moz-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
    -webkit-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
    box-shadow: 4px 4px 12px rgba(0,0,0,.5);

    -moz-border-radius: 15px;
    border-radius: 15px;
}

.nvtooltip h3 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.nvtooltip p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.nvtooltip span {
    display: inline-block;
    margin: 2px 0;
}





/**********
*  General SVG CSS
*/


text {
    font: 12px sans-serif;
}



/**********
*  Legend
*/

.legend .series {
    cursor: pointer;
}

.legend circle {
    stroke-width: 2px;
}

.legend .disabled circle {
    fill-opacity: 0;
}



/**********
*  Axes
*/

.axis path {
    fill: none;
    stroke: #000;
    stroke-opacity: .75;
    shape-rendering: crispEdges;
}

.axis path.domain {
    stroke-opacity: .75;
}

.axis line {
    fill: none;
    stroke: #000;
    stroke-opacity: .25;
    shape-rendering: crispEdges;
}

.axis line.zero {
    stroke-opacity: .75;
}



/**********
*  Line chart
*/

.point-paths path {
    /*
    fill: #eee;
    stroke: #aaa;
    */
    stroke-opacity: 0;
    fill-opacity: 0;
}


.lines path {
    fill: none;
    stroke-width: 1.5px;
    stroke-linecap: round;

    transition: stroke-width 250ms linear;
    -moz-transition: stroke-width 250ms linear;
    -webkit-transition: stroke-width 250ms linear;

    transition-delay: 250ms
    -moz-transition-delay: 250ms;
    -webkit-transition-delay: 250ms;
}

.line.hover path {
    stroke-width: 6px;
}

.lines .point {
    transition: stroke-width 250ms linear;
    -moz-transition: stroke-width 250ms linear;
    -webkit-transition: stroke-width 250ms linear;
}

.lines .point.hover {
    stroke-width: 20px;
    stroke-opacity: .5;
}